.button {
  border: none;
  cursor:pointer;
  border-radius: 6px;
  background-color: rgb(144, 201, 182);
}

.button:hover {
 /*  background-color: var(--color-secondary); */
 background-color: rgb(159, 161, 199);
}
