.card-container {
  margin-bottom: 10px;
  margin-top: 2rem;
  margin-left: 5%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  gap: 12px;
}
.card__image-container{
  overflow: hidden;
}
.card {
  width: 300px;
  height: 540px;
/*   background-color: var(--color-secondary); */
  background-color: rgb(159, 161, 199);
  border: solid 4px rgb(28, 255, 28);
  border-radius: 8px;
  box-shadow:0rem 0rem 1rem rgb(0, 228, 152);
}

.card__title{
  font-family: 'Rick';
  color:rgb(0, 228, 152);
  text-shadow: 0rem 0rem 3px black;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;

}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

.dead{
 /*  width: 300px;
  height: 540px; */
  color:white;
/*   background-color: var(--color-secondary); */
  background-color: black;
/*   border: solid 4px rgb(28, 255, 28);
  border-radius: 8px;
  box-shadow:0rem 0rem 1rem rgb(0, 228, 152); */
}
